-- MySQL dump 10.13  Distrib 8.3.0, for Win64 (x86_64)
--
-- Host: localhost    Database: comau125_np
-- ------------------------------------------------------
-- Server version	8.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `pdownloads`
--

DROP TABLE IF EXISTS `pdownloads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pdownloads` (
  `dtrans-no` int NOT NULL AUTO_INCREMENT,
  `photo-id` int NOT NULL,
  `user-id` int NOT NULL,
  `tdate` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`dtrans-no`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pdownloads`
--

LOCK TABLES `pdownloads` WRITE;
/*!40000 ALTER TABLE `pdownloads` DISABLE KEYS */;
/*!40000 ALTER TABLE `pdownloads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `picsdb`
--

DROP TABLE IF EXISTS `picsdb`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `picsdb` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `picname` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pictextcol` int NOT NULL DEFAULT '25',
  `pictextcol2` int NOT NULL DEFAULT '25',
  `porder` mediumint NOT NULL DEFAULT '100',
  `showdate` tinyint NOT NULL DEFAULT '1',
  `takenby` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `showtake` tinyint NOT NULL DEFAULT '1',
  `stack` int NOT NULL DEFAULT '4',
  `showpic` tinyint NOT NULL DEFAULT '1',
  `disptime` int NOT NULL DEFAULT '5',
  `showname` tinyint NOT NULL DEFAULT '0',
  `orient` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Landscape',
  `description` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `showtext` tinyint NOT NULL DEFAULT '1',
  `location` varchar(70) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `showdesc` tinyint NOT NULL DEFAULT '1',
  `infobox1` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `picname` (`picname`),
  KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2294 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `picsdb`
--

LOCK TABLES `picsdb` WRITE;
/*!40000 ALTER TABLE `picsdb` DISABLE KEYS */;
/*!40000 ALTER TABLE `picsdb` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `puploads`
--

DROP TABLE IF EXISTS `puploads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `puploads` (
  `utrans-no` int NOT NULL AUTO_INCREMENT,
  `photo-id` int NOT NULL,
  `user-id` int NOT NULL,
  `infobox1` varchar(200) COLLATE utf8mb3_unicode_ci NOT NULL,
  `tdate` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `adate` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `location` varchar(70) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`utrans-no`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `puploads`
--

LOCK TABLES `puploads` WRITE;
/*!40000 ALTER TABLE `puploads` DISABLE KEYS */;
/*!40000 ALTER TABLE `puploads` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-10-06  4:03:25
