-- MySQL dump 10.13  Distrib 8.3.0, for Win64 (x86_64)
--
-- Host: localhost    Database: comau125_gdrive
-- ------------------------------------------------------
-- Server version	8.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `token` varchar(64) NOT NULL,
  `expires_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
INSERT INTO `password_reset_tokens` VALUES (1,27,'ed127283a41d719e112cab971ff39f6dfb572840f07c8c4670d9ae8112610fbf','2023-05-04 05:39:44'),(5,3,'cd02a1b97447b2c7df4101d6db89a7053c04d8f5c8d7e5cc58761b8b5e84e9d8','2023-09-22 12:10:29'),(6,3,'b7b8e412060fa1ef6c3db3e13c26d8cb6c8b1bc1db4277316318d244ee34a426','2023-09-24 05:54:02'),(7,3,'e0e07fbc7ee3c2d8d29706ce9913cb1d9f63a8844cfcfeb7e1ce3cb8af18f43f','2023-09-24 18:00:26'),(10,1,'cb80b8944c12af877f1d328e1e12a3850f7a5f96fd6baab0bf32e4c6fa19b13a','2023-10-05 11:47:38');
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trequests`
--

DROP TABLE IF EXISTS `trequests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trequests` (
  `journeyNo` int NOT NULL AUTO_INCREMENT,
  `id` int DEFAULT NULL,
  `requestDate` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `pickupAddress` varchar(100) NOT NULL,
  `pickupTime` time NOT NULL,
  `pickupDate` date NOT NULL,
  `stop1` varchar(200) DEFAULT NULL,
  `stop2` varchar(200) DEFAULT NULL,
  `dropoffAddress` varchar(100) NOT NULL,
  `distance` int NOT NULL,
  `duration` int NOT NULL,
  `rideNotes` varchar(300) DEFAULT NULL,
  `driver` int NOT NULL DEFAULT '1',
  `pickupURL` varchar(400) NOT NULL,
  `dropoffURL` varchar(500) NOT NULL,
  `fare` int NOT NULL,
  `paid` smallint NOT NULL DEFAULT '0',
  `cancelled` tinyint NOT NULL DEFAULT '0',
  `completed` tinyint NOT NULL DEFAULT '0',
  PRIMARY KEY (`journeyNo`),
  KEY `trequests_users_id_fk` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=444 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trequests`
--

LOCK TABLES `trequests` WRITE;
/*!40000 ALTER TABLE `trequests` DISABLE KEYS */;
/*!40000 ALTER TABLE `trequests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(200) NOT NULL,
  `firstname` varchar(50) NOT NULL,
  `lastname` varchar(50) NOT NULL,
  `isdriver` int NOT NULL DEFAULT '0',
  `mobile` varchar(20) NOT NULL,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `token` varchar(64) NOT NULL,
  `password` varchar(255) NOT NULL,
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `last_login` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `mobile` (`mobile`),
  KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (0,'CASUAL','CASUAL','',0,'1111111111',1,'','',0,'2023-04-23 02:58:38'),(1,'gdunsby@gmail.com','Graham','Dunsby',1,'+61404047416',1,'','$2y$10$lWE7KkLi2CQ3sdOPjQp3lupSS4F9sHOJGi6OSwv1Oa04FRuqR3OIC',0,'2023-10-10 01:11:56'),(2,'garry.c.rowe@hotmail.com','garry','rowe',0,'+614752356258',1,'','$2y$10$qU4iXqr66Ay1UMSMqSce4Oz7ygxqXWDYaTO63933bSAoLOZ2df84O',1,'2023-06-29 01:10:12');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-10-06  4:03:45
